.register-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #ffffffcc;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.error {
  color: #d32f2f;
  font-size: 0.8rem;
}

.login-page{
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #ffffffcc;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.field{
  display: flex;
  flex-direction: column;
  text-align: left;
}