.post-list{
     text-align: center;
}

.post-list > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.post-item {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
    list-style-type: none; 
    width: 90%;
    max-width: 500px;
}

.post-item h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #212529;
    margin-top: 0;
    margin-bottom: 5px;
}

.post-item p:nth-child(2) {
    text-align: center; 
    font-size: 1rem;
    line-height: 1.4;
    color: #495057;
    margin-bottom: 20px;
}

.post-item p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #6c757d;
    text-align: center;
}

.post-item p strong {
    font-weight: 700;
    color: #333;
}

.actions {
    border-top: 1px solid #e9ecef; 
    padding-top: 20px;
    margin-top: 25px;
    
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
.actions .p-button {
    padding: 10px 12px; 
    font-size: 0.9rem;
}

.p-button-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    font-weight: 700; 
}

.p-button-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.p-button.mb-3 {
    margin-bottom: 50px; 
    display: block; 
    width: 200px; 
    margin-left: auto; 
    margin-right: auto;
}