.navbar {
    background: var(--color-bg2);
    padding: 1rem 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
}

.nav-links li {
    cursor: pointer;
}

.user-section {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* MOBILE */
.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .desktop-only {
    display: none;
    }

    .mobile-only {
    display: block;
    }

    .hamburger {
    cursor: pointer;
    }

    .mobile-menu {
    background: var(--color-bg2);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    }

    .mobile-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    }
}
.register-btn {
  min-width: fit-content; 
  white-space: nowrap;
  flex-shrink: 0;
  height: auto;
  padding: 10px 20px !important; 
  margin: 5px;
}

/* FOOTER */
footer {
    background: var(--color-bg2);
    padding: 2rem;
    text-align: center;
    margin-top: 3rem;
}

.footer-links {
    list-style: none;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-links li {
    cursor: pointer;
}